@import "./config";

#about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
#about-heading {
  background-color: #367179;
  color: white;
}
#about-body {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

@media screen and (max-width: 800px) {
}
