@import "./config";
#home-grid {
  display: grid;
  width: 100vw;
  height: 90vh;
  grid-template-columns: 50% 50%;
}

#section1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65% 35%;
  height: 90vh;
}
#section2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  height: 90vh;
}
#future-of-work-box {
  background-color: white;
  color: #0d3841;
}
#future-of-work-box:hover {
  background-color: #92c3c9;
}
#date-box {
  background-color: #0b343a;
}
#date-box:hover {
  opacity: 0.8;
}
#date-box h3 {
  color: white;
  margin: 0;
  margin-left: 1em;
  margin-top: 0.5em;
}
#speakers-box {
  background-color: #367179;
  color: white;
}
#speakers-box:hover {
  background-color: #5e8d94;
}
#program-box {
  background-color: #33abbc;
  color: white;
}
#program-box:hover {
  background-color: #5cbcc9;
}

#speaker-body {
  display: grid;
  #speaker-cell {
    display: grid;
    grid-template-columns: 52% 48%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      #speaker-1-grid-cell {
        background-color: #0d3841;
        color: #33abbc;
      }
      #speaker-1-details-grid-cell {
        background-color: #0d3841;
        color: #33abbc;
      }
    }
  }
}

#speakers-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
#speakers-heading {
  background-color: #367179;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.speaker-details-grid-cell {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}
.speaker-image-div {
  width: 4em;
  height: 4em;
}
#speaker-1-image {
  background-image: url(../assets/images/speakers/richard.jpg);
}
#speaker-2-image {
  background-image: url(../assets/images/speakers/stella.jpg);
}
#speaker-3-image {
  background-image: url(../assets/images/speakers/crystal.jpeg);
}
#speaker-4-image {
  background-image: url(../assets/images/emily.jpg);
}
#speaker-5-image {
  background-image: url(../assets/images/kelly.jpg);
}
.speaker-image-div {
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: #0f4751;
  text-align: center;
  color: white;
  font-family: NueHaasRegular, sans-serif;
}
.footer-speaker {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #0f4751;
  text-align: center;
  color: white;
  font-family: NueHaasRegular, sans-serif;

  li {
    display: inline;
  }
  a {
    color: white;
    position: relative;
  }
  img {
    position: relative;
    height: 36px;
  }
}
#footer li {
  display: inline;
}
#footer a {
  color: white;
  position: relative;
}
#footer img {
  position: relative;
  height: 36px;
}
.footer-content {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  padding-top: 5px;
}

// close button
.back-button {
  position: relative;
  width: 70px;
  height: 70px;
  // border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bar,
  .bar2 {
    position: absolute;
    height: 2px;
    background: white;
    width: 60%;
    transition: all 0.3s ease-in-out;
  }
  .bar {
    transform: rotate(45deg);
  }
  .bar2 {
    transform: rotate(-45deg);
  }
  &:hover .bar2,
  &:hover .bar {
    transform: rotate(0deg);
  }
}
// media queries

@media screen and (max-width: 800px) {
  #home-grid {
    grid-template-columns: 100%;
    height: auto;
  }

  h3 {
    margin-left: 0.5em;
    font-size: xx-large;
  }

  #section1 {
    height: 55vh;
  }

  #section2 {
    height: 35vh;
  }
  #footer {
    height: 12vh;
  }
  #future-of-work-box {
    height: 30vh;
  }
  #date-box h3 {
    margin-left: 0.5em;
  }
  .footer-content {
    grid-template-columns: 33% 33% 33%;
    text-align: left;
    margin-left: 1em;
    row-gap: 1em;
  }
}
